@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
  --card-width: 300px;
  --card-height: 300px;

  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
      radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
  }
  canvas {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  
  p {
    position: relative;
    padding: 10px;
    font-size: 17px;
    color:#efeded;
    width: fit-content;
    
  }
  
  p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
      radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
    
  }
  section{
    padding: 100px 0;
}
.experience{
  padding-top: 100px;
  padding-bottom: 200px;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.home, .about, .experience, .projects, .connect, footer, .navbar{
    font-family: 'Space Mono', monospace;
    position: relative;
}
.about, .experience, .projects, .connect, footer, .navbar{
    font-family: 'Space Mono', monospace;
    position: relative;
}
.about .about-content,
.connect .connect-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    color: white;
}

  .navbar{
    position: fixed;
    width: 100%;
    z-index: 998;
    padding: 30px 0;
    transition: all 0.3s ease;
    opacity: 0.91;
}
.logo{
  max-width: 90px;
  max-height: 90px;
}

.navbar.sticky{
    padding: 15px 0;
    background: rgba(16, 69, 91, 0.227);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo img{
  max-width: 25%;
  max-height: 25%;
}
.navbar .logo a span{
  color: #00a1ff;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
  color: rgb(255, 255, 255);
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: rgb(250, 242, 242);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #00a1ff;
}
.navbar.sticky .menu li a:hover{
    color: #00a1ff;
}
/* menu btn styling */
.menu-btn{
    color: #00a1ff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home{
  display: flex;
  height: 100vh;
  color: #c6c6c6;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
}
.home .max-width{
width: 100%;
display: flex;
}
.home .max-width .row{
margin-right: 0;
}
.home .home-content .text-1{
  font-size: 27px;
}
.home .home-content .text-2{
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3{
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span{
  color: #7b00ff;
  font-weight: 500;
}
.home .home-content a{
  display: inline-block;
  background: #7b00ff;
  color: white;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid #5a04b5;
  transition: all 0.3s ease;
}
.home .home-content a:hover{
  color: #00a1ff;
  background: none;
}
/* about section styling */

.about .about-content .right{
  width: 45%;
  text-align: center;
}
.about .about-content .left .text{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .left .text span{
  color: #00a1ff;
}

.about .about-content .left a{
  display: inline-block;
  transition: all 0.3s ease;
}
.about .about-content .left a:hover{
  color: #00a1ff;
  background: none;
}
.about .about-content .left{
  width: 55%;
}
.about .about-content .right img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;
  
}
/* experience section */

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
  border: none;
}
.app {
  position: relative;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;

}
.cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: calc(var(--card-height) + 50px);
}
.cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.cardList__btn.btn--left {
  left: -5%;
}
.cardList__btn.btn--right {
  right: -5%;
}
.cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}
.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1;
  --opacity: 0.8;
}
.card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.card.previous--card, .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}

.infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
  top: calc(50% - var(--card-height) / 2);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.info {
  transform: translateX(-30%) translateY(50%) translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  align-items: center;
  padding: 0 1rem;
}
.info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.1));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
  text-align: center;
}
.info .name {
  text-transform: uppercase;
  display: flex;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: calc(var(--card-width) * 0.08);
}

.info .description {
  --text-size-offset: 0.045;
  font-weight: 500;
  margin-top: 2rem;
  max-width: 100%;
  display: flex;
  font-size: calc(var(--card-width) * 0.06);
  text-align: left;
}
.info.current--info {
  opacity: 1;
  display: block;
  flex-direction: column;
  justify-content: center;
}
.info.previous--info, .info.next--info {
  opacity: 0;
  display: none;
}


/* responsive media query start */
@media (max-width: 1104px) {
  .about .about-content .right img{
      height: 350px;
      width: 350px;
  }
}
@media (max-width: 991px) {
  .max-width{
      padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: auto;
    max-height: 300px;
    width: 100%;
    top: -100%;
    left: 0;
    background: rgba(16, 69, 91, 0.7);
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    top: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 10px 0;
    font-size: 25px;
  }


  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .max-width{
      max-width: 930px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .about .about-content .right{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .left{
      flex: 100%;
  }
}
@media (max-width: 690px) {
  .max-width{
      padding: 0 23px;
  }
  .home .home-content .text-2{
      font-size: 60px;
  }
  .home .home-content .text-3{
      font-size: 32px;
  }
  .home .home-content a{
      font-size: 20px;
  }
}
@media (max-width: 500px) {
  .home .home-content .text-2{
      font-size: 50px;
  }
  .home .home-content .text-3{
      font-size: 27px;
  }
  .about .about-content .left .text{
      font-size: 19px;
  }
  .connect .right form .fields{
      flex-direction: column;
  }
  .connect .right form .name,
  .connect .right form .email{
      margin: 0;
  }
  .right form .error-box{
     width: 150px;
  }
  .scroll-up-btn{
      right: 15px;
      bottom: 15px;
      height: 38px;
      width: 35px;
      font-size: 23px;
      line-height: 38px;
  }
  @media only screen and (max-width: 768px) {
    .cardList {
      width: var(--card-width);
      height: calc(var(--card-height) + 150px);
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      overflow: hidden;
    }
    .cardList__btn {
      width: 25px;
      height: 25px;
    }
    .cardList__btn.btn--left {
      left: 10px;
    }
    .cardList__btn.btn--right {
      right: 10px;
    }
    .cardList .cards__wrapper {
      height: calc(var(--card-height) + 100px);
    }
    .card {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    }
    .card.previous--card {
      --card-translateX-offset: calc(-1 * var(--card-width));
    }
    .card.next--card {
      --card-translateX-offset: var(--card-width);
    }
    .infoList {
      width: var(--card-width);
      height: calc(var(--card-height) + 150px);
      margin: auto;
    }
    .info {
      max-width: 100%;
      transform: translateX(-13%) translateY(20%) translateZ(2rem);
      transition: transform var(--card-transition-duration) var(--card-transition-easing);
      align-items: center;
    }
    
    .info .text {
      max-width: 100%;
      position: relative;
      font-family: "Montserrat";
      font-size: calc(var(--card-width) * var(--text-size-offset, 0.06));
      color: #fff;
      width: auto;
    }

    
  }
  
  /* Media query for medium screens */
  @media (min-width: 768px) {
    .cardList {
      height: 350px;
    }
    
    .infoList {
      height: 120px;
    }
    
    .info .text {
      font-size: 1.2rem;
    }
  }
  
  /* Media query for large screens */
  @media (min-width: 992px) {
    .cardList {
      height: 400px;
    }
    
    .infoList {
      height: 150px;
    }
    
    .info .text {
      font-size: 1.5rem;
    }
  }
  
  /* Media query for extra large screens */
  @media (min-width: 1200px) {
    .cardList {
      height: 450px;
    }
    
    .infoList {
      height: 180px;
    }
    
    .info .text {
      font-size: 1.8rem;
    }
  }
}
